.section-lost {
    padding-bottom: 3em;
    .video-wrapper {
        max-width: 760px;
        margin: 4em auto 0;
        iframe {
            border: none;
        }
    }
}

.lost-wrapper {
    padding-top: 2.5em;
}

.lost-unit {
    max-width: 145px;
    display: inline-table;
    margin: 1em 2em;
    img {
        margin-bottom: 1.5em;
    }
    .lost-count {
        font-size: 3em;
        font-weight: 300;
        &.count1 {
            color: #77a7fb;
            &::before {
                content: url("../img/l-ava1-up.png");
            }
        }
        &.count2 {
            color: #e57368;
            &::before {
                content: url("../img/l-ava2-up.png");
            }
        }
        &.count3 {
            color: #fbcb43;
            &::before {
                content: url("../img/l-ava3-up.png");
            }
        }
        &.count4 {
            color: #34b67a;
            &::before {
                content: url("../img/l-ava4-up.png");
            }
        }
        &.count5 {
            color: #546573;
            &::before {
                content: url("../img/l-ava5-up.png");
            }
        }

    }
}
