.section-review{
    padding: 3em 0 4em;
    background: url("../img/facilities-bg.jpg") center no-repeat;
    background-size: cover;
    .section-body{
        padding-top: 4em;
    }
    .start-modal{
        min-width: 18em;
        margin-top: 4em;
    }
}
.list-review{
    list-style: url("../img/icons/arrow-blue.png");
    li{
        padding: .5em;
        margin-bottom: 1em;
        font-size: 1em;
    }
}
