//Block1
.section-use {
    padding: 3em 0;
    .list-use {
        padding-top: 3em;
        font-size: 1.2em;
        color: #333333;
        background: url("../img/icons/satellite.png") no-repeat right bottom;
        background-size: 30%;
        margin-bottom: 2em;
        li {
            padding: 8px 0 8px 30px;
            position: relative;
        }
    }
    .use-text {
        display: inline-block;
        font-size: 1.8em;
        font-weight: 600;
        color: $brand-primary;
        text-align: center;
        margin-bottom: 1.5em;
    }
    .hor-form {
        background: url("../img/horisontal-form-bg.jpg");
        padding: 1em 0 3em;
        h2 {
            margin-bottom: 1em;
        }
        input {
            width: 100%;
            height: 3em;
            margin: .5em auto;
        }
        input[type="text"],
        input[type="email"] {
            padding-left: 30px;
            border: 1px solid #a1a1a1;
            border-radius: 2px;
        }
        .man {
            background: white url("../img/icons/man.png") no-repeat 5px center;
        }
        .mail {
            background: white url("../img/icons/mail.png") no-repeat 5px center;
        }
        .phone {
            background: white url("../img/icons/phone.png") no-repeat 5px center;
        }
    }
}
