//BLOCK1 Header

//NAV
.navbar-default {
    border: none;
    font-size: 0;
    @media (min-width: $screen-md-max) {
        text-align: center;
    }
    background: url("../img/nav-bg.jpg");
}

.navbar-brand {
    padding: $navbar-padding-vertical/2 0 $navbar-padding-vertical/2;
    @media (min-width: 768px) {
        margin-left: 0;
    }
}

.navbar-nav {
    display: inline-block;
    font-size: 0;
    float: none;
    font-weight: 600;
    li {
        font-size: $font-size-base;
        &.active {
            box-shadow: inset 0 -7px 0 0 $brand-primary;
        }
        a {
            @media (min-width: 768px) {
                text-transform: uppercase;
            }
        }
    }
    .contact-top {
        height: $navbar-height;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .i-icons::before{
            font-size: 1em;
            top: 1px;
            padding: 0;
        }
    }
    .start-modal {
        height: $navbar-height;
    }
}

.header {
    text-align: center;
    padding-top: 6em;
    @media (min-width: $screen-tablet) {
        background: url("../img/header-bg-hires.jpg") no-repeat center;
        background-size: cover;
    }
    background: url("../img/header-bg-lowres.jpg") no-repeat;
    background-size: cover;
    min-height: 730px;
    .main-header {
        text-align: center;
        font-weight: 600;
        @media (min-width: $screen-lg-min) {
            font-size: 3.2em;
        }
    }
    .sub-main-header {
        font-weight: 300;
    }
}

.header-manifest {
    font-size: 1.2em;
    margin-top: 4em;
}

.header-links-block {
    margin-top: 1em;
    .start-modal {
        margin-top: 3em;
    }
    .button-down {
        background: transparent;
        border: none;
        color: white;
        display: block;
        border-radius: 100%;
        font-size: 2em;
        width: 2em;
        margin: 1em auto 0;
    }
}

.body-form {
    &.form-discount {
        .form-header {
            padding: 0 5px;
        }
        position: absolute;
        max-width: 295px;
        top: 16em;
        right: 1%;
        label {
            font-size: 11px;
        }
        .i-icons {
            &.airplane {
                margin-top: 1.8em;
            }
        }
        .sub-heading {
            font-size: 1.4em;
        }
        .submit-wrapper {
            margin-top: 1.5em;
            padding: 5px 0 0;
        }
        /*        @media (max-width: $screen-lg-desktop) {
                    top: 5px;
                    right: 5px;
                }*/
        /*        @media only screen and(max-width: $screen-md-min) {
                    display: none;
                }*/
    }

}
